
.vertical-line {
    height: 1000px;
    width: 10px;
    background: #9c9e9f;
    margin-left: 33px;
}

.small-circle{
    width:20px;
    height:20px;
    background: #9c9e9f;
    border-radius: 50%;
    position:absolute;
    top:50%;
    left:50%;
    margin: -10px 0 0 -10px;
}


.big-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
}

.big-circle-wrapper {
    padding: 6px;
    background: #9c9e9f;
    border-radius: 50%;
    position: relative;
}





.vertial-line.ten-percent{
    background:linear-gradient(180deg,  #38B449  0%,#38B449 50%,#9c9e9f 50%,#9c9e9f 100%) !important;
}





.fa {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inner-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.photo {
    border-radius: 50%;
    /*border: black solid 1px;*/
    height: 250px;
    width: 250px;
    position: relative;
}

.photo img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -75px;
}

